[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyFeedback"]
	path = shinyFeedback
	url = https://github.com/merlinoa/shinyfeedback
